:root{
    --pink: #ea7f8e;
}

button {
    width: 20vw;
    border-radius: 16px;
    height: 7vh;
    background-color: var(--pink);
    color: white;
    border:blue 1px solid;
    padding: 5px 10px;
    font-size: larger;
    
}

button:hover{
    color:blue;
    background-color: white;
    
}